{% extends 'index.html' %}

{% block title %}
	About
{% endblock %}

{% block body %}
  <div class="container">
    <h2> Something about lorem ipsum</h2>
    <p
      class="my-lg-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at imperdiet orci, vitae imperdiet libero.
        In facilisis ante id ipsum iaculis, id varius odio dignissim.
        Nam sed felis fermentum, dapibus sapien vitae, tristique diam.
        Quisque maximus leo id arcu interdum elementum.
        Donec dignissim tempus nisl, a varius ex sagittis ac. Sed at efficitur nulla.
        In elit sapien, fringilla in diam vitae, viverra viverra sapien.
        Maecenas eget massa neque. Phasellus semper ante vitae lobortis porttitor.
        Aliquam erat volutpat. Sed placerat ut ante consequat maximus.
        Duis orci lorem, porttitor quis quam vitae, pharetra gravida libero.
        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent semper,
        libero non placerat accumsan, ex quam elementum lectus, vel ultricies nisi ligula non nisi.
    </p>
  </div>
{% endblock %}