{% extends "base.html" %}

{% block title %}
  <title>Sign in</title>
{% endblock %}

{% block body %}

<div class="container">
  <form class="needs-validation" novalidate>
    <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
    <div class="row g-3">

      <div class="col-sm-6">
        <label for="firstName" class="form-label">First name</label>
        <input type="text" class="form-control" id="firstName" placeholder="Your first name" value="" required>
        <div class="invalid-feedback">
          Valid first name is required.
        </div>
      </div>

      <div class="col-sm-6">
        <label for="firstName" class="form-label">Last name</label>
        <input type="text" class="form-control" id="firstName" placeholder="Your last name" value="" required>
        <div class="invalid-feedback">
          Valid last name is required.
        </div>
      </div>

      <div class="col-12">
        <label for="username" class="form-label">Username</label>
        <div class="input-group has-validation">
          <input type="text" class="form-control" id="username" placeholder="Username" required>
          <div class="invalid-feedback">
            Your username is required.
          </div>
        </div>
      </div>

      <div class="col-12">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="you@example.com">
        <div class="invalid-feedback">
          Please enter a valid email address.
        </div>
      </div>

      <div class="col-12">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" value="" required placeholder="At least 8 characters" autocomplete="new-password">
        <div class="invalid-feedback">
          Please enter a valid password.
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary my-md-2">Sign up</button>
    <div class="my-md-2">
      <a href="{{ url_for("sign_in") }}">Already have an account? Log in here.</a>
    </div>
  </form>
</div>

{% endblock %}